{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1>Bienvenue sur l'interface Admin</h1>
{% endblock %}

{% block main %}
    <p>Gérez vos produits et catégories facilement !</p>
{% endblock %}